<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit</h1>
    <b>UserId : <%=comment.id %></b>
    <p> <b> UserName: <%= comment.username %> </b></p>

    <form method="POST" action="/users/<%=comment.id%>?_method=PUT">
        <li>About</li>
        <textarea name="comment" id="" cols="30" rows="10">
        <%= comment.comment %>
    </textarea>
        <br>
        <button>Save Changes</button>
    </form>
</body>

</html>