<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/table.css">
    <title>Detail</title>
</head>
<body>

    <table class="table table-striped table-primary">
        <thead>
          <tr>
            <th colspan="2">UserName</th>
            <th colspan="2">UserId</th>
            <th colspan="2">About</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td colspan="2">
                <%= comment.username %>
              </td>
              <td colspan="2">
                <%= comment.id %>
              </td>
              
              <td colspan="2">
                <%= comment.comment %>
              </td>
            </tr>
           
        </tbody>
      </table>
    
      <br><br><br>
    
      <button><a href="/users">Back Home</a></button>
    
</body>
</html>